# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data / models
data/
models/
*.pt
*.pth
*.ckpt

# Logs
logs/results/phase3/hidden_states/
